<!-- lista-restaurantes.component.html -->

<body>
<div class="completo">
    <div>
      <img class="logo" src="assets/pagina/logo.png" alt="Imagen Plazoleta">
      <h1>Plazoleta: {{ plazoletaName }}</h1>
      <br>
      <br>
      
    </div>
    <div>
      <img id="img2" src="assets/pagina/lista.png" alt="Imagen 1">
      <h2 id="texto">LISTA COMERCIO RESTAURANTES</h2>
    </div>
    <br>
    <br>
    <!-- Display the list of restaurants -->
    <!-- Update this part in your existing HTML -->
    <div class="table-header">
        <div class="table-cell id">ID</div>
        <div class="table-cell nombre">Nombre</div>
        <div class="table-cell logo">Logo</div>
    </div>
    <div *ngFor="let restaurante of restaurantes" class="table-row">
        <div class="table-cell id">{{ restaurante.id }}</div>
        <div class="table-cell nombre">{{ restaurante.nombre }}</div>
        <div class="table-cell logo">
        <img class="restaurante-logo" [src]="restaurante.foto" alt="Logo del restaurante">
        </div>
    </div>
  
  </div>
</body>