
<body>
    <div class="completo">
        <div>
          <div id = "contene">
            <img src="assets/pagina/logo.png" alt="Imagen Plazoleta">
            <button id="textow" class="titulo titulo3 boton" (click)="volver()">Volver</button>
          </div>
          <br>
          <br>
          
        </div>
        <div >
            <img id ="img2" src="assets/pagina/deletePerson.png" alt="Imagen 5">
            <h2 id="texto">Eliminar restaurante</h2>
        </div>
        <br>

        

        <div class="form-container">
            <form (submit)="onSubmit()">

              <div class="label-input-container">
                <label for="codigoRestaurante">Código restaurante: </label>
                <input type="text" id="codigoSede" name="codigoRestaurante" [(ngModel)]="restauranteId">
              </div>
    
              <button type="submit">Eliminar</button>
            </form>
          </div>
          
      </div>
    </body>