

.navegacion{
    justify-content: space-between;
    height: 20vh;
    display: flex;
}
.imagen-izquierda {
    width: 50vh;
    max-height: 30vh;
    top:0;
    margin-left: 2%;
}

.imagen-derecha {
    width: 100vh; /* Ajusta el ancho según tus necesidades */
    margin-top: 3%;
    height: 9vh;
    margin-right: 10vh;
    
}
.ofertas {
    position: relative;
    width: 100%;
    margin-left:0;
}

.imagen {
    width: 100%;
    height: auto;
    margin: 0;
   
}

.boton-izquierdo,
.boton-derecho {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; /* Ajusta el ancho según tus necesidades */
    height: 30px; /* Ajusta la altura según tus necesidades */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

}

.boton-izquierdo {
    left: 10px;
}

.boton-derecho {
    right: 10px;
}

.textos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.titulo{
    color: #000;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
    font-weight: bold; /* Cambiamos de 400 a bold para negrita */
    font-style: normal;
    line-height: normal;
}
.titulo1 {
    margin-left: 5%;
}
.titulo3{
    margin-right: 5%;
}

.boton{
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), #AFAFAF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 1%;
}

footer {
    position: fixed;
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color del texto del footer */
    padding: 10px;
    text-align: right; /* Alineación de texto a la derecha */
    height: 13%;
    width: 100vw;
    bottom: 0;
    
}

.botonpagar {
    color: #fff; /* Color del texto del botón */
    height: 6vw;
    width: 10vw;
    margin-right: 10%; /* Margen izquierdo para separar los botones */
    cursor: pointer;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), #E4DB03;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 
}

.botonlista{
    height: 4vw;
    width: 8vw;
    border-radius: 20px;
    cursor: pointer;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), #008EBB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-right: 10vw;
 
}

.textobotones{
    color: #000;
    text-align: center;
    font-family: Hammersmith One, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
}

/* Estilo para el nuevo contenedor flexible */
.rectangulo-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente fila automáticamente */ /* Espacio entre los elementos */
   
}

/* Estilo para los elementos rectángulo */
.rectangulo {
    width: calc(50% - 40px); /* Ancho fijo para dos elementos por fila, con 20px de espacio entre ellos */
    text-align: center; /* Centra el contenido dentro de cada rectángulo */
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(196, 227, 197, 0.20) 0%, rgba(196, 227, 197, 0.20) 100%), #FFFCFC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px; /* Espacio entre las filas de elementos */
    float: left; /* Hace que los elementos floten a la izquierda */
    clear: none; /* Restablece el comportamiento de compensación (clear) */
    margin-left: 1.8vh;
    cursor: pointer;
    
}
/* Aplica un margen inferior al último div .rectangulo-container */
.clear {
    margin-bottom: 20vh; /* Agrega el margen inferior deseado */
}








