<body>
  <div class="completo">
    <div>
      <img src="assets/pagina/logo.png" alt="Imagen Plazoleta">
      <h1>Plazoleta: {{ plazoletaName }}</h1>
    </div>
    <div (click)="navigateTo('/lista-restaurantes')">
      <img id ="img2"src="assets/pagina/lista.png" alt="Imagen 1">
      <h2 id="texto">LISTA COMERCIO RESTAURANTES</h2>
    </div>
    <div (click)="navigateTo('agregarRestaurante')" >
      <img id ="img2" src="assets/pagina/addUser.png" alt="Imagen 5">
      <h2 id="texto">Agregar nuevos restaurantes</h2>
    </div>
    <div  (click)="navigateTo('modificarRestaurante')" >
      <img id ="img2" src="assets/pagina/modifyList.png" alt="Imagen 6">
      <h2 id="texto" >Modificar restaurantes</h2>
    </div>
    <div (click)="navigateTo('/eliminar-restaurante')">
      <img id ="img2" src="assets/pagina/deletePerson.png" alt="Imagen 7">
      <h2 id="texto">Eliminar restaurantes</h2>
    </div>
    <div (click)="navigateTo('/historialPedidosAdmin')"  >
      <img id ="img2" src="assets/pagina/history.png" alt="Imagen 8">
      <h2 id="texto">Historial de pedidos</h2>
    </div>
  </div>
</body>