<body>
    <div class="completo">
        <div>
            <div id = "contene">
                <img src="assets/pagina/logo.png" alt="Imagen Plazoleta">
                <button id="textow" class="titulo titulo3 boton" (click)="volver()">Volver</button>
              </div>
            <br>
            <br>
        </div>
        <div>
            <img id="img2" src="assets/pagina/history.png" alt="Imagen 5">
            <h2 id="texto">Historial de pedidos</h2>
        </div>
        <br>

        <div class="table-header" style="background-color: #FF8A00; color: white;">
            <div class="table-cell id">ID</div>
            <div class="table-cell nombre">TOTAL</div>
        </div>

        <div *ngFor="let pedido of pedidos" class="table-row">
            <div class="table-cell id">{{ pedido.id }}</div>
            <div class="table-cell nombre">{{ pedido.total }}</div>
        </div>
    </div>
</body>
